.weather-app-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.container.weatherApp {
  border: 1px solid #D9D9D9;
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
}

.container.bottomHalf, .topHalf {
  padding: 20px;
}

.list-group {
  line-height: 25px;
  font-size: 13px;
  text-align: center;
}

.list-group .list-group-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.detailsMain {
  float: left;
  clear: left;
}

.temperatureMain .active {
  color: black;
  text-decoration: none;
}

.temperatureMain .active:hover {
  cursor: default;
}

.detailsMain ul {
  padding-inline-start: 0px;
}

.detailsMain li {
  font-size: 13px;
}

 img, span.temperatureMain {
  float: left;
}

span.temperature {
  float: left;
}

span.units {
  float: left;
  padding-top: 25px;
}

ul, li.forecastWeek {
  display: inline;
}

#temperature-Main {
  font-size: 50px;
  padding-right: 5px;
  padding-top: 10px;
}

button {
  width: 90px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
font-size: 30px;
}

